#chartdiv {
    width: 110% !important;
    height:300%;
}
.map-content {
    margin-right: -15px;
    margin-left: -15px;
}
#m_donut_chart {
    width		: 100%;
    height		: 300px;
    font-size	: 11px;
  }

  #chartdiv1{

    width: 110% !important;
    height:300%;
  }

  #chartdiv2{

    width: 110% !important;
    height:300%;
  }

  #m_donut_chart{
       
    width: 110% !important;
    height:300%;
  }
