<section class="content home">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <h2>Configuration
          <small>View And Edit Business Details</small>
        </h2>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 text-right">


        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/configer/config"><i class="zmdi zmdi-home"></i> Doctor</a></li>
          <li class="breadcrumb-item active">Configuration</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Business Detail view -->
  <div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Business</strong> Detail</h2>
                </div>
                <div class="body product-report">

                  <div class="row clearfix">
                    <div class="col-lg-4 col-md-12">
                      <form>
                        <label for="business">Business Id</label>
                        <div class="form-group">
                          <input type="text" id="business" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="businesstype">Business Type</label>
                        <div class="form-group">
                          <input type="text" id="businesstype" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="mobinumber">Mobile Number</label>
                        <div class="form-group">
                          <input type="text" id="mobinumber" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="breakstart">Break Time Start</label>
                        <div class="form-group">
                          <input type="text" id="breakstart" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="busiadd">Business Address</label>
                        <div class="form-group">
                          <input type="text" id="busiadd" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="busidrage">Business Id Range </label>
                        <div class="form-group">
                          <input type="text" id="busidrage" class="form-control" placeholder="" disabled>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <form>
                        <label for="firstname">First Name</label>
                        <div class="form-group">
                          <input type="text" id="firstname" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="maincate">Main Category</label>
                        <div class="form-group">
                          <input type="text" id="maincate" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="busihour">Business Hour Start</label>
                        <div class="form-group">
                          <input type="text" id="busihour" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="breakend">Break Time End</label>
                        <div class="form-group">
                          <input type="text" id="breakend" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="busirating">Business Rating</label>
                        <div class="form-group">
                          <input type="text" id="busirating" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="busimode">Business Mode</label>
                        <div class="form-group">
                          <input type="text" id="busimode" class="form-control" placeholder="" disabled>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <form>
                        <label for="lastname">Last Name</label>
                        <div class="form-group">
                          <input type="text" id="lastname" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="subcate">Sub Category</label>
                        <div class="form-group">
                          <input type="text" id="subcate" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="busiend">Business Hour End</label>
                        <div class="form-group">
                          <input type="text" id="busiend" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="awt">Avg Wait Time</label>
                        <div class="form-group">
                          <input type="text" id="awt" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="busigroup">Business Group</label>
                        <div class="form-group">
                          <input type="text" id="busigroup" class="form-control" placeholder="" disabled>
                        </div>
                        <label for="busapptype">Business Appointment Type</label>
                        <div class="form-group">
                          <input type="text" id="busapptype" class="form-control" placeholder="" disabled>
                        </div>
                      </form>
                    </div>           
                </div>
                </div>
            </div>
        </div>
    </div>
               
</div>
  <!-- Business detail view edit -->

<!-- edit detail -->
<div class="container-fluid">
  <div class="row clearfix">
      <div class="col-lg-12">
          <div class="card">
              <div class="header">
                  <h2><strong>Edit </strong>Business </h2>
              </div>
              <div class="body product-report">

                <div class="row clearfix">
                  <div class="col-lg-4 col-md-12">
                    <form>
                      <label for="busihouredit">Business Hour Start</label>
                      <div class="form-group">
                        <input type="text" id="busihouredit" class="form-control" placeholder="" >
                      </div>
                      <label for="breakstartedit">Break Time Start</label>
                      <div class="form-group">
                        <input type="text" id="breakstartedit" class="form-control" placeholder="" >
                      </div>
                    </form>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <form>
                      <label for="busiendedit">Business Hour End</label>
                      <div class="form-group">
                        <input type="text" id="busiendedit" class="form-control" placeholder="" >
                      </div>
                      <label for="breakendedit">Break Time End</label>
                      <div class="form-group">
                        <input type="text" id="breakendedit" class="form-control" placeholder="" >
                      </div>
                    </form>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <form>

                      <label for="awtedit">Avg Wait Time</label>
                      <div class="form-group">
                        <select  id="awtedit" class="form-control" placeholder="" >
                            <option value="">-- Please select --</option>
                            <option value="">5</option>
                            <option value="">10</option>
                            <option value="">15</option>
                          </select>
                      </div>
                    
                    </form>
                  </div>           
              </div>
              <div class="row clearfix">
                  <div class="col-lg-10 col-md-12"></div> 
                  <div class="col-lg-2 col-md-12">
              <button type="button" class="btn btn-raised btn-primary btn-round waves-effect" style="width:10em">Ok</button>
              </div>
             
              </div> 

              </div>
          </div>
      </div>
  </div>
             
</div>
<!-- Edit Detatil end -->

</section>