@import "../../../assets/css/timeline.css";
      
.cbp_tmlabel{
    margin:0px 0px 5px 0px!important;
     
}

.float-right{
    float:right;
}
.font-10{
    font-size: 10px;
}
.bold{
    /* font-size:16px; */
    font-weight: 700;
}

.panelhight{
    min-height: 475px !important;
    overflow: hidden;
}