@import "../../../assets/css/timeline.css";
      
.cbp_tmlabel{
    margin:0px 0px 5px 0px!important;
     
}

.float-right{
    float:right;
}
.font-10{
    font-size: 10px;
}
.bg-color{
    
}
.bold{
    /* font-size:16px; */
    font-weight: 700;
}

.panelhight{
    max-height: 270px;
    overflow:auto;
}